body{
    background-color: #e3e3e3;
}

h1 {
    color: #150D7E;
}

.form-control,
.form-select {
    width: 450px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.start {
    max-width: 1015px;
    width: 100%;
    margin: 0 auto;
    border: 1px transparent;
    padding: 20px;
}

.userInput {
    padding: 20px 0;
}

.subBtn {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.select {
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}

#error1,
#error2,
#error3,
#error4,
#error5,
#error6,
#errorcountry {
    color: red;
}

.lbl{
    width: 100px;
   font-weight: bolder;
}

@media (max-width: 1199.98px) { 
    .start {
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        border: 1px transparent;
        padding: 20px;
    }   
    .radbtn {
        font-size: small;
        max-width: 160px;
        margin: 0 auto;
    }
    .form-control,
.form-select {
    width: 350px;
} 
 }

 .remove{
     margin: 20px 0 10px;
 }

 @media (max-width: 575.98px) { 
    .form-control,
    .form-select {
        width: 250px;
    } 
    .start {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        border: 1px transparent;
        padding: 20px;
    }   
  }